<div class="jumbotron" id ="landing-page">
  <div class="container">
<!--     <div class="row">
    <div class = "col-md-11 col-md-offset-1">          -->
    <h2 class="text-main-landing purple">Register for <br> <span class="script">any</span> gift <br>from <span class="script">any</span> store.</h2>
    <button data-toggle="modal" data-target="#signup-model" class="btn btn-lg btn-primary btn-action text-uppercase">Start my registry</button>
    <p>   Or, check out a <%= link_to "sample registry","V49YUu0" %>.</p>
  </div>
<!--   </div>
</div> -->
</div>
<h4 class="text-uppercase text-center color-primary vendor-header"><b>Add gifts from any store in the world including:</b></h4>

<!-- Vendor Logos: -->
<% vendor_logos_links = [ 
  ["Panasonic", "https://s3.amazonaws.com/registry-app-production/panasonic.png", "http://www.shop.panasonic.com/"],
  ["Macys", "https://s3.amazonaws.com/registry-app-production/macys.png", "http://www.macys.com/"],
  ["Target", "https://s3.amazonaws.com/registry-app-production/target.png", "https://www.target.com/"],
["Amazon", "https://s3.amazonaws.com/registry-app-production/amazon.png", "http://www.amazon.com/"],
["BestBuy", "https://s3.amazonaws.com/registry-app-production/best_buy.png", "http://www.bestbuy.com/"],
# ["Feldheim", "https://googledrive.com/host/0B_wFGjJ6tO2tRG12dkZCNFROenc", "http://www.feldheim.com/?acc=9778d5d219c5080b9a6a17bef029331c.com/affiliates/banner/list/"],
["Walmart", "https://s3.amazonaws.com/registry-app-production/walmart.png", "https://www.walmart.com/"],
# ["CoverYourHair", "https://googledrive.com/host/0B_wFGjJ6tO2tVjRHZ3VtS0QwY1E", "#"],
# ["Artscroll", "https://googledrive.com/host/0B_wFGjJ6tO2tNnVndnloOHVra1E", "http://artscroll.com/"],
["CrateAndBarrel", "https://s3.amazonaws.com/registry-app-production/crate_and_barrel.png", "http://www.crateandbarrel.com/"],
["Bloomingdales", "https://s3.amazonaws.com/registry-app-production/bloomingdales.png", "http://www1.bloomingdales.com/"],
["Sears", "https://s3.amazonaws.com/registry-app-production/sears.png", "http://www.sears.com/"],
# ["Hazorfim", "https://googledrive.com/host/0B_wFGjJ6tO2tc0JRT0dvRnFCQXc", "https://hazorfim.com"],
["PotteryBarn", "https://s3.amazonaws.com/registry-app-production/pottery_barn.png", "http://www.potterybarn.com/"]
]%>

<% total_vendors = vendor_logos_links.count %>
<!--  total_vendors/2.ceil is the number that should be on the top row -->
<% break_index = (total_vendors/2).ceil %>
<div class = "container text-center vendor-logos">
  <% vendor_logos_links.each do |vendor| %>
  <%= link_to image_tag(vendor[1] ,alt: vendor[0]), vendor[2], :target => "_blank" %>
    <% if vendor == vendor_logos_links[break_index] %>
      <br/>
    <% end %>
  <% end %>
</div>

<br/>
<!-- <div class="text-center"> All Rights Reserved - Register For Anything </div> -->

<%= render partial: 'new_first_modal' %>